# https://help.github.com/articles/dealing-with-line-endings/
# These are explicitly windows files and should use crlf
*.bash          text eol=lf
*.properties    text eol=lf
*.java          text eol=lf
mvnw            text eol=lf
